body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 65%;
    height: auto;
    background: black;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
}

ul{
    font-size: 25px;
}

p{
    font-size: 22px;
    text-align: center;
    color: white 
}

article{
    font-size: 25px;
}

ul{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.tableku table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif
}

.tableku th{
    background-color: hsl(347, 90%, 96%);
    padding: 8px;
}

.tableku td{
    background-color: hsl(48, 100%, 96%);
    padding: 8px;
}

article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    clear: both;
}

footer {
    font-size: 20px;
    clear: both;
    width: 98.8%;
    height: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-top: 15px;
    padding-bottom: 15px;  
}